@model WebProdutos1.Models.Product

@{
    ViewBag.Title = "Resultado";
}

<h2>Dados do Produto</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        <legend>Listagem de Dados de Produtos Não Perecíveis</legend>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Codigo)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Codigo)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Peso)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Peso)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Categoria)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Categoria)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Vlrunit)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Vlrunit)
        </div>

        <p>@Html.ActionLink("Voltar", "Index")</p>
    </fieldset>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
}
